# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
build/
.gradle/
.mvn/wrapper/maven-wrapper.jar
.tools/

# Spring Boot
*.log
logs/

# Env
.env
.env.*

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
*.tmp
*.swp

# Docker
docker-data/

# Node / Angular frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/coverage/
frontend/.angular/
*.tsbuildinfo
